{% extends 'base.html' %}

{% block title %}My Page{% endblock %}

{% block content %}
    <h2>Welcome to MyPage</h2>
    <!-- Display user information or additional content as needed -->
    <p>username: {{ user.username}}</p>
    <p>Email: {{ user.email }}</p>
    <p>Name: {{ user.name }}</p>
    <!-- Add more content as needed -->
    <a href="{% url 'edit_account' %}">Edit Account</a>
    <a href="{% url 'edit_password' %}">Edit Password</a>
    
    <form action="{% url 'delete_account' %}" method="POST">
        {% csrf_token %}
        <button>회원탈퇴</button>
    </form>
{% endblock %}